@media screen and (min-width: 800px) {
    #hamburger-button {
        display: none;
    }
}

@media screen and (max-width: 799px) {
    /*　ハンバーガーボタン　*/
    .hamburger {
        display: block;
        position: fixed;
        z-index: 3;
        right: 30px;
        top: 25px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        text-align: center;
    }
    .hamburger span {
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        background: #555;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    .hamburger span:nth-child(1) {
        top: 0px;
    }
    .hamburger span:nth-child(2) {
        top: 10px;
    }
    .hamburger span:nth-child(3) {
        top: 20px;
    }
    /* ナビ開いてる時のボタン */
    .hamburger.active span:nth-child(1) {
        top: 16px;
        left: 0px;
        background: #fff;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
        top: 16px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    nav.globalMenuSp {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        color: #fff;
        background: rgba(0, 0, 0, 0.7);
        text-align: center;
        width: 100%;
        opacity: 0;
        transition: opacity .6s ease, visibility .6s ease;
    }
    nav.globalMenuSp ul {
        margin: 80px auto;
        padding: 0;
        width: 100%;
    }
    nav.globalMenuSp ul li {
        list-style-type: none;
        font-size: 25px;
        border-bottom: 1px solid white;
        margin: 0 auto;
        padding: 0;
        width: 200px;
        transition: .4s all;
    }
    nav.globalMenuSp ul li:last-child {
        padding-bottom: 0;
    }
    nav.globalMenuSp ul li:hover {
        background: #ddd;
    }
    nav.globalMenuSp ul li a {
        display: block;
        color: #fff;
        padding: 0;
        height: 60px;
        text-decoration: none;
    }
    /* このクラスを、jQueryで付与・削除する */
    nav.globalMenuSp.active {
        opacity: 100;
    }
}